<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>admindata</title>
</head>
<body>
<section layout:fragment="content">
<div>
    <form action="#" th:action="@{/admin}" method="post" >
        <label for="status"> Status: </label>
        <select id="status" name="status">
            <option th:value="INUSE">używany</option>
            <option th:value="UNUSED">wolny</option>
            <option th:value="BROKEN">zepsuty</option>
        </select>
        <label> Localization: </label>
            <input id="latitude" name="latitude">
            <input id="longitude" name="longitude">
        <input type="submit" value="Save">
    </form>
</div>
</section>
</body>
</html>