<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>map</title>
    <style>
        *. {
            margin: 0;
            padding: 0;
        }
        #map {
            height: 600px;
            width: 100%;
        }
    </style>
    <script th:src="@{jQuery.js}"></script>
</head>
<body>
<form id="database">
<input id="lng" type="hidden" name="LOCALIZATION" th:value="${lng}" />
<input id="lat" type="hidden" name="LOCALIZATION" th:value="${lat}" />
<input id="stat" type="hidden" name="STATUS" th:value="${status}" />
</form>
<section layout:fragment="content">
    <div id="map"></div>

    <script>

        var map;
        function initMap() {

            var center = {lat: 53.014541, lng: 18.596197};
            // The map, centered at Toruń 53.014421, 18.598591 53.014541, 18.596197
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 12, center: center});

            var icons = {
            UNUSED: {
                    icon: "unuse.png"
                },
            INUSE: {
                    icon: "in_use.png"
                },
            BROKEN: {
                    icon: "broken.png"
                }
            };

            var features = [
                {
                    position: new google.maps.LatLng($('#lat').valueOf(), $('#lng').valueOf()),
                    type: $('#stat').valueOf()
                }
                // ,
                // {
                //     position: new google.maps.LatLng(53.0152, 18.593),
                //     type: '1'
                // }
                // }, {
                //     position: new google.maps.LatLng(53.0154, 18.599),
                //     type: '0'
                // }, {
                //     position: new google.maps.LatLng(53.0156, 18.600),
                //     type: '0'
                // }, {
                //     position: new google.maps.LatLng(53.016, 18.61),
                //     type: '1'
                // }
            ];

            // Create markers.
            var markers = features.map(function (feature) {
                return new google.maps.Marker({
                    position: feature.position,
                    // icon: icons[feature.type].icon,
                    map: map
                });
            });

            // Add a marker clusterer to manage the markers.
            var markerCluster = new MarkerClusterer(map, markers,
                {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        }

        // $(document).ready(function() {
        //
        //     console.log("TEST: " + features[0]['type']);
        // })
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuI8FWXrvR72kDdXgxznYMl5zvoli8cy4&callback=initMap"
            async defer></script>
</section>
</body>
</html>