<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<section layout:fragment="content">
    <div>
        <a th:href="@{/user}">Wróć</a>
        <div th:if="${errors != null}">
            <p>Wystąpiły byłędy przy wysyłaniu formularza:</p>
            <p th:each="error : ${errors.getMessages()}" th:text="${error}"></p>
        </div>
        <div th:if="${result != null}">
            <p th:text="${result.getMessage(0)}">Status edycji...</p>
        </div>
        <form th:action="@{/user/edit}" th:object="${userEditForm}" method="post">
            <label for="name-field">Imię: </label><input id="name-field" type="text" name="name" th:value="*{name}"/><br/>
            <label for="lastname-field">Nazwisko: </label><input id="lastname-field" type="text" name="lastname" th:value="*{lastname}"/><br/>
            <label for="city-field">Miasto: </label><input id="city-field" type="text" name="city" th:value="*{city}"/><br/>
            <label for="cardrivelicence-field">Prawo jazdy: </label><input id="cardrivelicence-field" type="text" name="driverLicense" th:value="*{driverLicense}"/><br/>
            <label for="email-field">Email: </label><input id="email-field" type="text" name="email" th:value="*{email}"/><br/>
            <label for="phone-field">Telefon: </label><input id="phone-field" type="number" name="telephone" th:value="*{telephone}"/><br/>
            <input type="Submit" value="Zapisz"/>
        </form>
    </div>
</section>

</body>
</html>